body{
    background: #000000c5;
    color: rgb(255, 196, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

form{
    margin-top: 50px;
    
}

form .form-group{
    padding-top: 30px;
}

form button{
   display: block;
   margin: 20px auto 50px auto;
}

