body{
    height: 100%;
    background:#d9ba85;
    
}

.intro{
    padding-top:  50px;
    text-align: center;
}

.container .Eform{
    padding-top:  50px;
    
}


.container .Eform button{
    padding: 10px;
    margin-top: 10px;
    
}

#intfromation{
    padding-top:  50px;
   
    padding-bottom: 100px;
}

#intfromation i {
    font-size: 20px;
    float: left;
    width: 50px;
    height: 50px;
    color: #cda45e;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  
  }

  #intfromation h4 {
    padding: 0 0 0 60px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
  }

  #intfromation p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #000000;
  }