img{
    height: 150px;
    
}

#res{
   padding-top: 50px; 
   padding-bottom: 80px;

  
}
.card{
    background-color: rgba(255, 200, 19, 0.425);
    border: 4px solid rgba(5, 5, 5, 0.2);
   color: rgb(255, 250, 250);
    
}


